<main id="conteudo">
    <div id="container-a">
        <p class="paragrafo">Busca</p>
        <div class="buscar">
        <input type="text" id="txtBusca" placeholder="Buscar"/>
        <button type="submit" id="btnBusca">&#128269;Buscar</button>
        </div>

        <div class="table-itens-ciclos">
          <table id="table-ciclos">
              <tr id="barra">
                  <th class="th-ciclos">Nome</th>
                  <th class="th-ciclos">Status</th>
              </tr>
              <tr>
                  <td class="td-ciclos">MB2(FY23)</td>
                  <td class="td-ciclos">Ativo</td>
                </tr>
                <tr>
                  <td class="td-ciclos">Ciclo teste 1</td>
                  <td class="td-ciclos">Inativo</td>
                </tr>
                <tr>
                  <td class="td-ciclos">MB2(FY23)</td>
                  <td class="td-ciclos">Inativo</td>
                </tr>
          </table>
        </div>

        <div class="controls">
          <div class="first">&#171;</div>
          <div class="prev">&lt;</div>
          <div class="numbers">
            <div>1</div>
          </div>
          <div class="next">&gt;</div>
          <div class="last">&#187;</div>
        </div>
    </div>

    <div id="container-b">
        <p class="paragrafo">Ciclo</p>
        <input type="text" id="txtNome" placeholder="Nome"/>
        <select class="select" name="select">
            <option value="valor1">Ativo</option>
            <option value="valor2" selected>Inativo</option>
          </select>
          <input id="date" type="date" value="data de corte" placeholder="data de corte">
          <input id="dateKR" type="date" value="data de KR" placeholder="data de KR">
          <div id="buttons">
            <div class="save">
              <button class="save" type="submit">&#128190; Salvar</button>
            </div>
            <div class="novo">
              <button class="novo" type="submit">&#128459; Novo</button>
            </div>
          </div>
    </div>

</main>
