#conteudo{
    display: flex;
}

#container-a{
    border: 0.5px solid #000000;
    width: 50%;
    height: 30%;
    padding-bottom: 17%;
    background-color: white;
    margin: 10px;
    align-items: center;
}
#container-b{
    border: 0.5px solid #000000;
    width: 70%;
    height: 30%;
    padding-bottom: 10%;
    background-color: white;
    margin: 10px;
}


.paragrafo{
    margin: 5px;
    font-size: 20px;
    padding-top: 0.5%;
    font-weight: normal;
}
#txtBusca{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 70%;
    padding: 0.7%;
    background-color: rgb(232, 232, 232,);
}
#btnBusca{
    border: 1px solid #000000;
    border-radius: 3px;
    width: 21.5%;
    padding: 0.7%;
    background-color: rgb(150, 200, 231);
    color: rgb(24, 126, 189);
    font-weight: bold;
}
.ciclo-frente{
    width: 30%;
    padding-right: 3%;
}


#txtNome{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 68%;
    padding: 0.7%;
    background-color: rgb(232, 232, 232);
}
.select{
    border: 1px solid #000000;
    border-radius: 3px;
    width: 27%;
    padding: 0.7%;
    background-color: rgb(232, 232, 232);
}

#date{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 46%;
    padding: 0.7%;
}
#dateKR{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 46%;
    padding: 0.7%;
}

/* botões (save e novo) */

#buttons{
    padding: 6% 1.5% 0% 0%;
    float: right;
    margin: 5px;
    display: flex;
    border: 0;
}
.save{
    margin: 2px;
    border: none;
    border-radius: 3px;
    background-color: rgb(169, 196, 238);
}
.novo{
    margin: 2px;
    border: none;
    border-radius: 3px;
}
.save, .novo:hover{
    cursor: pointer;
}
#table-ciclos{
    margin: 1%;
    border-collapse: collapse;
    width: 97%;
    font-size: 10px;
}
.td-ciclos, .th-ciclos{
    border: none;
    padding: 8px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
  }

.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.controls div{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.controls div:not(.numbers),
.controls div.numbers div{
        width: 40px;
        height: 40px;
    }
.controls div.numbers div:hover,
.controls div.numbers div.active {
        color: var(--primary);
}
