<main id="conteudo">
    <div id="container-a-frente">
        <div id="ciclo-frente-cont-a">
            <h1 class="paragrafo-busca">Busca</h1>
            <div class="ciclo-frente">
                <p class="select-frente">Ciclo</p>
                <select class="select-frente" name="select-frente">
                    <option value="valor1">MB2(FY23)</option>
                    <option value="valor2" selected>Ciclo teste 1</option>
                    <option value="valor3" selected>inativo</option>
                </select>
            </div>
        </div>

        <div class="conteudo-Busca">
            <div class="busca-text">
                <input type="text" id="txtBusca" placeholder="Buscar"/>
                <button id="btnBusca-frente">Buscar</button>
            </div>
            <table id="table-frente">
                <tr id="barra">
                    <th>Nome</th>
                </tr>
                <tr>
                    <td>[FOOD DELIVERY] 310K RESTAURANTES</td>
                    </tr>
                    <tr>
                    <td>[FOOD DELIVERY] 310K RESTAURANTES-LOCAIS</td>
                    </tr>
                    <tr>
                    <td>[FOOD DELIVERY] 310K RESTAURANTES-LACAIS+VIAJANTES</td>
                    </tr>
                    <tr>
                    <td>FOOD DELIVERY</td>
                    </tr>
                    <tr>
                    <td>MERCADO</td>
                    </tr>
                    <tr>
                    <td>OKRs</td>
                    </tr>
                    <tr>
                    <td>CROSS</td>
                    </tr>
                    <tr>
                    <td>ECONÔMICO</td>
                    </tr>
                    <tr>
                    <td>FINTECH</td>
                    </tr>
                    <tr>
                    <td>FOOD DELIVERY</td>
                    </tr>
                    <tr>
                    <td>MERCADO</td>
                    </tr>
                    <tr>
                    <td>OKRs</td>
                    </tr>
                    <tr>
                    <td>CROSS</td>
                    </tr>
                    <tr>
                    <td>ECONÔMICO</td>
                    </tr>
                    <tr>
                    <td>FINTECH</td>
                    </tr>
                    <tr>
                    <td>FOOD DELIVERY</td>
                    </tr>
                    <tr>
                    <td>MERCADO</td>
                    </tr>
                    <tr>
                    <td>OKRs</td>
                    </tr>
            </table>
        </div>
        <div class="controls">
            <div class="first">&#171;</div>
            <div class="prev">&lt;</div>
            <div class="numbers">
              <div>1</div>
            </div>
            <div class="next">&gt;</div>
            <div class="last">&#187;</div>
          </div>
    </div>

    <div id="container-b">
        <p class="paragrafo">Frentes Estratégicas</p>
        <div id="elementos-contb">
        <select class="select-contb" name="select-contb">
            <option value="valor1">MB2(FY23)</option>
        </select>
        <input type="text" id="nome-contb" placeholder="Nome da Frente"/>
        <select class="select-contb" name="select-contb">
            <option value="valor1">MB2(FY23)</option>
        </select>
        <input type="text" id="nome-contb" placeholder="Responsavel"/>
        <div id="buttons">
            <div class="save">
              <button class="save" type="submit">&#128190; Salvar</button>
            </div>
            <div class="novo">
              <button class="novo" type="submit">&#128459; Novo</button>
            </div>
        </div>


