<main id="conteudo">
    <div id="container-a-unidade">
        <p class="paragrafo">Busca</p>
        <input type="text" id="txtBusca" placeholder="Buscar"/>
        <button id="btnBusca">Buscar</button>
        <table id="table-unidade">
            <tr id="barra">
                <th>Nome</th>
            </tr>
            <tr>
                <td>CROSS</td>
              </tr>
              <tr>
                <td>ECONÔMICO</td>
              </tr>
              <tr>
                <td>FINTECH</td>
              </tr>
              <tr>
                <td>FOOD DELIVERY</td>
              </tr>
              <tr>
                <td>MERCADO</td>
              </tr>
              <tr>
                <td>OKRs</td>
              </tr>
        </table>
        <div class="controls">
          <div class="first">&#171;</div>
          <div class="prev">&lt;</div>
          <div class="numbers">
            <div>1</div>
          </div>
          <div class="next">&gt;</div>
          <div class="last">&#187;</div>
        </div>
    </div>

    <div id="container-b-unidade">
        <p class="paragrafo">Unidade de Negócio</p>
        <input type="text" id="txtNome-unidade" placeholder="Nome"/>
        <div id="buttons">
          <div class="save">
            <button class="save" type="submit">&#128190; Salvar</button>
          </div>
          <div class="novo">
            <button class="novo" type="submit">&#128459; Novo</button>
          </div>
        </div>
    </div>

</main>
