#conteudo{
    display: flex;
}

#container-a-unidade{
    border: 0.5px solid #000000;
    width: 50%;
    height: 30%;
    padding-bottom: 10%;
    background-color: white;
    margin: 10px;
    align-items: center;
}
#container-b-unidade{
    border: 0.5px solid #000000;
    width: 70%;
    height: 30%;
    padding-bottom: 3%;
    background-color: white;
    margin: 10px;
}
.paragrafo{
    margin: 5px;
    font-size: 20px;
    padding-top: 0.5%;
    font-weight: normal;
}
#table-unidade{
    padding: 1%;
    width: 98%;
    font-size: 14px;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
#txtBusca{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 70%;
    padding: 0.7%;
    background-color: rgb(232, 232, 232,);
}

#btnBusca{
    border: 1px solid #000000;
    border-radius: 3px;
    width: 21.5%;
    padding: 0.7%;
    background-color: rgb(150, 200, 231);
    color: rgb(24, 126, 189);
    font-weight: bold;
}
#txtNome-unidade{
    border: 1px solid #000000;
    border-radius: 3px;
    margin: 1%;
    width: 96%;
    padding: 0.7%;
    background-color: rgb(232, 232, 232);
}
#buttons {
    padding: 6% 1.5% 0% 0%;
    float: right;
    margin: 5px;
    display: flex;
    border: 0;
}
.save {
  width: 59px;
  border: none;
  border-radius: 3px;
  background-color: rgb(169, 196, 238);
}
.save, .novo:hover {
  cursor: pointer;
}
.novo {
  height: 21px;
  width: 59px;
  margin-left: 3px;
  border: none;
  border-radius: 3px;
}
.controls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}
.controls div{
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.controls div:not(.numbers),
.controls div.numbers div{
        width: 40px;
        height: 40px;
    }
.controls div.numbers div:hover,
.controls div.numbers div.active {
        color: var(--primary);
}
