<main id="conteudo">
  <div id="container-a-detalhamento">
      <div id="detalhamento-frente-cont-a">
          <h1 class="paragrafo-busca">Busca</h1>
          <div class="ciclo-detalhamento">
              <p class="titulo-detalhamento">Ciclo</p>
              <div id="select-button">
              <select class="select-frente-detalhamento" name="select-frente">
                  <option value="valor1">MB2(FY23)</option>
                  <option value="valor2" selected>Ciclo teste 1</option>
                  <option value="valor3" selected>inativo</option>
              </select>
              <button id="btnExport">Exportar</button>
          </div>
          </div>

      </div>

      <div class="conteudo-Busca">
          <div class="busca-text">
          <input type="text" id="txtBusca" placeholder="Buscar"/>
          <button id="btnBusca">Buscar</button>
          </div>
          <table class="table-detalhamento">
              <tr class="barra-detalhamento">
                  <th class="th-detalhamento">BU</th>
                  <th class="th-detalhamento">Frente</th>
                  <th class="th-detalhamento">Nome da Meta</th>
                  <th class="th-detalhamento">Peso</th>
                  <th class="th-detalhamento">Meta</th>
                  <th class="th-detalhamento">Submeta</th>
              </tr>
              <tr class="itens-barra-detalhamento">
                  <td class="td-detalhamento">CROSS</td>
                  </tr>
                  <tr>
                  <td class="td-detalhamento">FINTECH</td>
                  </tr>
                  <tr>
                  <td class="td-detalhamento">FOOD DELIVERY</td>
                  </tr>
                  <tr>
                  <td class="td-detalhamento">MERCADO</td>
                  </tr>

          </table>
      </div>
  </div>

  <div id="container-b-detalhamento">
    <p class="paragrafo">Detalhamento Frentes Estratégicas</p>
      <div id="elementos-contb-detalhamento">
          <div class="select-detalhamento">
            <select class="select-contb-detalhamento" name="select-contb-detalhamento">
                <option value="valor1">MB2(FY23)</option>
            </select>
            <select class="select-contb-detalhamento" name="select-contb-detalhamento">
                <option value="valor1">MB2(FY23)</option>
            </select>
            <input type="text" id="nome-contb-detalhamento" placeholder="Resultado Chave da Frente"/>
            <select class="select-contb-detalhamento" name="select-contb-detalhamento">
                <option value="valor1">MB2(FY23)</option>
            </select>
            <select class="select-contb-detalhamento" name="select-contb-detalhamento">
                <option value="valor1">MB2(FY23)</option>
            </select>
            <select class="select-contb-detalhamento" name="select-contb-detalhamento">
                <option value="valor1">MB2(FY23)</option>
            </select>
          </div>
      </div>
      <div class="historico-detalhamento">
        <p class="historico">Sem Historico</p>
        <input type="text" id="input-historico" placeholder="Baseline"/>
        <input type="text" id="input-historico" placeholder="Dono KR"/>
      </div>
        <div id="sem-historico">
                <textarea id="msg" placeholder="Detalhamento"></textarea>
                <textarea id="msg" placeholder="Memoria de cálculo"></textarea>
        </div>


      <div class="objetivo-detalhamento">
        <div class="titulo-objetivo">
            <p class="Objetivo">Objetivo e Meta</p>
        </div>
        <div class="hr">
            <hr class="hr-detalhamento" size="5">
        </div>
        <div class="conteudo-objetivo">
            <input type="text" id="cont-objetivo" placeholder="Meta do Ciclo"/>
            <input type="text" id="cont-objetivo" placeholder="Submeta"/>
            <input type="text" id="cont-objetivo" placeholder="% de Submeta"/>
        </div>
      </div>
    <div class="curva-mensal">
        <div class="titulo-curva">
            <p class="curva">Curva Mensal</p>
        </div>
        <div class="hr-curva">
            <hr class="linha-curva" size="5">
        </div>
        <div class="date-curva">
            <input id="date-curva-mensal" type="date" value="data de corte" placeholder="data de corte">
            <input type="text" id="meta-curva" placeholder="Meta Mês"/>
            <button class="adicionar-curva" type="submit"> Adicionar</button>
        </div>

    </div>
    <table class="table-curva">
        <tr class="barra-curva">
            <th class="th-curva">Mês/ano</th>
            <th class="th-curva">Meta Mês</th>
            <th class="th-curva">Alcançado</th>
        </tr>
    </table>
    <div class="buttons-detalhamento">
        <button class="buttons" type="submit"> Salvar</button>
        <button class="buttons" type="submit"> Novo</button>
    </div>

  </div>


</main>
