<body>
  <div class="header">
      <header>
              <a class="btn-abrir" (click)="abrirMenu()">&#9776;</a>
              <div class="img">
                <img src="../../../assets/imagens/MicrosoftTeams-image.png">
                <img src="../../../assets/imagens/MicrosoftTeams-image (1).png">
              </div>
      </header>

  </div>
  <div id="menu">
      <nav>
          <a routerLink="/">&#8962;Home</a>
          <a routerLink="/ciclos">&#9776;Ciclos</a>
          <a routerLink="/unidade">&#9776;Unidade de Negócio</a>
          <a routerLink="/frente">&#9776;Frente Estratégica</a>
          <a routerLink="/detalhamento">&#9776;Detalhamento Frentes Estratégicas</a>
          <a routerLink="/">&#9776;RMR</a>
      </nav>
  </div>

    <footer id="rodapee">
      <p>SBM Technology - 2022</p>
    </footer>

</body>
