<body>
  <div class="header">
      <header>
              <a class="btn-abrir" (click)="abrirMenu()">&#9776;</a>
      </header>
  </div>
  <div id="menu">
      <nav>
          <a routerLink="/">Home</a>
          <a routerLink="/ciclos">Ciclos</a>
          <a routerLink="/unidade">Unidade de Negócio</a>
          <a routerLink="/frente">Frente Estratégica</a>
          <a routerLink="/detalhamento">Detalhamento Frentes Estratégicas</a>
          <a routerLink="/">RMR</a>
      </nav>
  </div>

    <footer id="rodapee">
      <p>SBM Technology - 2022</p>
    </footer>

</body>
